<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <title>My App</title>  
  
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
  <link rel="stylesheet" href="styles/onsen-css-components-blue-basic-theme.css">  
  <link rel="stylesheet" href="styles/app.css"/>

  <script src="lib/onsen/js/angular/angular.js"></script>    
  <script src="lib/onsen/js/onsenui.js"></script>    

  <script src="cordova.js"></script>
  <script src="controller.js"></script>
  <script src="http://maps.google.com/maps/api/js"</script>
  <script src="https://maps.google.com/maps/api/js?sensor=false"></script>
  
</head>

<body>    
  
 

  <ons-sliding-menu swipeable="true" var="menu" menu-page="menu.html" main-page="map.html" side="left" menu-item="map.html" type="reveal" max-slide-distance="200px">
        </ons-sliding-menu>



  <ons-template id="page1.html">
  <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">Page 1 </div>
    
  </ons-template>

  <ons-template id="page2.html">
    <ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">Page 2</div>
      </ons-toolbar>


      <ons-row style="margin-top: 100px; text-align: center;">
        <ons-col>
          <ons-button modifier="light" ng-click="menu.toggleMenu()">
            Toggle Menu
          </ons-button>
        </ons-col>
      </ons-row>

    </ons-page>
  </ons-template>
 
</body>
</html>
