

<ons-page ng-controller="MapController">
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">IITM MAP</div>
        <div class="right">
           <span id="top-right" ng-click="show('#top-right')" class="toolbar-button--outline navigation-bar__line-height">Button</span>
          </div>
      </ons-toolbar>
    

    <div id="map_canvas"></div>


     <p class="par-search">
            <input type="search" id="search" class="search-input search-input-map">

      

        </p>

        <div class="popover-mask"></div>



      
      
      <div class="btnmax">
       <ons-button  class="btn-delete" ng-click="calcRoute()">
               Enter a destination and click on me       
            </ons-button>
        </div>
    </ons-page>