<ons-page>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="menu.toggle()">
            <ons-icon icon="ion-navicon" size="28px" fixed-width="false"></ons-icon>
          </ons-toolbar-button>
        </div>
        <div class="center">IITM MAP</div>
      </ons-toolbar>
    

    <div id="map_canvas"></div>


    <p>cjkdhkisahdihadiuhsdihdkhk</p>



  
    </ons-page>