<ons-page modifier="menu-page">
      <ons-toolbar modifier="transparent"></ons-toolbar>

      <ons-list class="menu-list">
        <ons-list-item class="menu-item" ng-click="menu.setMainPage('page1.html', {closeMenu: true})">
          <ons-icon icon="fa-plus" fixed-width="true"></ons-icon>
          New Post
        </ons-list-item>

        <ons-list-item class="menu-item" ng-click="menu.setMainPage('map.html', {closeMenu: true})">
          <ons-icon icon="fa-bookmark" fixed-width="true"></ons-icon>
          Map
        </ons-list-item>

        <ons-list-item class="menu-item" ng-click="menu.setMainPage('page1.html', {closeMenu: true})">
          <ons-icon icon="fa-twitter" fixed-width="true"></ons-icon>
          Official Twitter
        </ons-list-item>
      </ons-list>

      <br>

     
    </ons-page>